.nav2 {
    display: flex;
    justify-content: space-between;
}

.search-box{
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.search-box input[type="text"]{
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #000000;
    font-size: 14px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
} 
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 20px;
    border: 1px solid #000000;
    border-top: 1px;
    cursor: pointer;
}
.result p:hover{
    background: #e0e0e0;
}
.pagfsas{
    display: flex;
  justify-content: space-between;
}
.phantrang{
    list-style-type: none;
}